
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/logo.gif">
    <title>Login page</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
    
    link(rel='stylesheet', href='/stylesheets/login.css')
    
  </head>
  //- login section
  <body class="text-center">
    <div class = "container">
    <form class="form-signin">
    H1 TATE
      <h1 class="h3 mb-3 font-weight-normal">Please fill in the boxes below to register</h1>
      
      <div>
      <input type="Name" id="inputName" class="form-control" placeholder="Name" required autofocus>
      </div>

      <div style ="padding-top: 10px;">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
      </div>

       <div >
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      </div>
        
      <div style ="padding-top: 10px;">
      <button class="btn btn-primary btn-lg active" type="submit" style ="height: 48px; width: 300px" >Register</button>
      </div>
    </form>
    
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </div>
  </body>
</html>